<div class="outer1" ng-controller="hubdetailsviewcontroller">
<div class="hubDataDiv1">
	<table class="hubDataTable1">
  <tr>
    <th></th>
    <th>ABS</th> 
    <th>HR</th>
  </tr>
  <tr>
    <td>Outbound Throughput</td>
    <td>32,000</td> 
    <td>12,500</td>
  </tr>
  <tr>
    <td>Inbound Throughput</td>
    <td>18,000</td> 
    <td>7,300</td>
  </tr>
</table>
</div>
<div class="depotDataDiv2" >
  <div class="hubDataTable2">
    <div class="line1fordepot"> <div class="property">Required Capacity</div> <div class="dots">.............................................</div> <div class="value">3,200</div> 
  </div>
    <div class="line2fordepot"> <div class="property">Existing Capacity</div> <div class="dots">...............................................</div> <div class="value">11,000</div> 
  </div>
  
    <div class="line2fordepot margin"> <div class="property"># Assigned Hubs</div> <div class="dots">...............................................</div> <div class="value">38</div> 
  </div>
  
    <div class="line2fordepot margin"> <div class="property"># Assigned Districts</div> <div class="dots">...........................................</div> <div class="value">178</div>
  </div>

    <div class="line2fordepot margin"> <div class="property"># Direct Connections to other Depots</div> <div class="dots">................</div> <div class="value">178</div>
  </div>
  
  </div>
</div>
<div class="hubDataDiv3" >
<div class="compareChart"> <div class="loadChart1" id="loadChart1" ></div><div class="loadChart2" id="loadChart2" ></div ><div class="loadChart3" id="loadChart3"></div><div class="loadChart4" id="loadChart4"></div>
</div>	 
<div class="onTheRightside">
<div class="line1onTheRight"> <div class="lft"> COST</div> <div></div> </div>
<div class="line2onTheRight"> <div class="lft">1.7</div> <div class="rght">OUTBOUND SORTING</div></div>
<div class="line2onTheRight"> <div class="lft">1.1</div> <div class="rght">INWARD SORTING</div></div>
<div class="line2onTheRight"> <div class="lft">3.2</div> <div class="rght">FIXED COSTS</div></div>
</div>      <!-- close onTheRight -->
</div>      <!-- close hubDataDiv3 -->
</div>