


       
              
           <div class="outer1" ng-controller="overviewcontroller">
                
                    <!-- <div class="topInLayerOne">
                        <span class="location">Belgium</span><span class="numberOfHubs">50 Hubs</span>
                            <div class="btn-group dropdwn" ng-click="hideView()">
  
                            <span class="caret"></span>

                            
                                </div> 
                                    </div> -->
                    <div style="height:93%">
                    <div class="topInLayerTwo">
                    <table class="dataTable"> 
                        <tr class="tableHeading">
                             <th class="costs"><b>Costs</b></th>
                            <th class="overall">OVERALL</th>
                             <th class="item">¢/ ITEM</th>
                        </tr class="tableData">
                        <tr>
                             <td></td>
                             <td>22.5$ mio</td>
                             <td>23¢</td>
                        </tr>
                    </table>
                </div>
                   
            <div class="layer2" id="chart1">
            </div>
            <div class="layer2" id="chart2">
            </div>
            <div class="layer4">
                <table class="dataTable2"> 
                        <tr class="tableHeading">
                             <th class="costs"><b>Quality</b></th>
                            <th class="overall">PERIOD</th>
                             <th class="item">VOLUME ABS</th>
                             <th class="item">VOLUME SHARE</th>
                        </tr class="tableData">
                        <tr>
                             <td></td>
                             <td>d+1</td>
                             <td>20.000</td>
                             <td>82%</td>
                        </tr>
                        <tr>
                             <td></td>
                             <td>d+2</td>
                             <td>3.000</td>
                             <td>12%</td>
                        </tr>
                        <tr>
                             <td></td>
                             <td>d+3</td>
                             <td>1.400</td>
                             <td>6%</td>
                        </tr>
                    </table>
            </div>
         </div>
    </div>
  