<div class="well well-lg" id="formwell" ng-controller="viewformController" >
	<label class="headingnew">
		<p class="phnew">{{carName|uppercase}}<br>PHASE 1</p>

	</label>

<table class="table table-striped changetablesize">
   <caption class="viewdetailsnew">DESIGN</caption>
   <thead >
      <tr class="changefontsize">
         <th style="text-align:center">Specifications</th>
         <th style="text-align:center">Details</th>
      </tr>
   </thead>
   <tbody  class="bodyheight">
      <tr>
         <td>Engine</td>
         <td>{{car.engine}}</td>
      </tr>
      <tr>
         <td>Battery</td>
         <td>{{car.battery}}</td>
      </tr>
      <tr>
         <td>Charger</td>
         <td>{{car.charger}}</td>
      </tr>
       <tr>
         <td>Drive</td>
         <td>{{car.drive}}</td>
      </tr>
       <tr>
         <td>Chassis</td>
         <td>{{car.chassis}}</td>
      </tr>
       <tr>
         <td>Power</td>
         <td>{{car.power}}</td>
      </tr>
</tbody>
</table>

</div>
