<div class="well well-lg" id="formwell" ng-controller="viewformController" >
	<label class="heading">
		<p class="ph">{{carName|uppercase}}<br>PHASE 4</p>

	</label>

<table class="table table-striped">
   <caption class="viewdetails">LAUNCH</caption>
   <thead >
      <tr>
         <th style="text-align:center">Specifications</th>
         <th style="text-align:center">Details</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Fuel Type</td>
         <td>{{car.fuel_type}}</td>
      </tr>
      <tr>
         <td>Torque</td>
         <td>{{car.torque}}</td>
      </tr>
      <tr>
         <td>Boot Space</td>
         <td>{{car.boot_space}}</td>
      </tr>
       <tr>
         <td>Top Speed</td>
         <td>{{car.top_speed}}</td>
      </tr>
       <tr>
         <td>Capacity</td>
         <td>{{car.capacity}}</td>
      </tr>
       <tr>
         <td>Turning Radius</td>
         <td>{{car.turning_radius}}</td>
      </tr>
</tbody>
</table>

</div>

