<div class="well well-lg" id="formwell" ng-controller="viewformController" >
	<label class="heading">
		<p class="ph">{{carName|uppercase}}<br>PHASE 3</p>

	</label>

<table class="table table-striped">
   <caption class="viewdetails">MANUFACTURING</caption>
   <thead >
      <tr>
         <th style="text-align:center">Specifications</th>
         <th style="text-align:center">Details</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Width</td>
         <td>{{car.Width}}</td>
      </tr>
      <tr>
         <td>Length</td>
         <td>{{car.Length}}</td>
      </tr>
      <tr>
         <td>Height</td>
         <td>{{car.Height}}</td>
      </tr>
       <tr>
         <td>Payload</td>
         <td>{{car.payload}}</td>
      </tr>
       <tr>
         <td>Weight</td>
         <td>{{car.weight}}</td>
      </tr>
       <tr>
         <td>Wheelbase</td>
         <td>{{car.wheelbase}}</td>
      </tr>
</tbody>
</table>

</div>

